*{
    box-sizing: border-box;
    margin: 0;
}
html,body,#root{
    height: 100%;
}

.register-container{
    height: 100%;
    background-image: url(../Assets/images/background.jpg);
    background-size: cover;
    padding: 40px 0 0 40px;

}

.register-container main{
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 70px;
    gap: 120px;
    position: relative;
}
.form-section{
    height: 100%;
    overflow: auto;
}
.illustration-section{

    height: 100%;
    background-image: url(../Assets/svg/illustration.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-left: solid 3px grey;
    background-size: 85%;
    height: 100%;
}
.back-button{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.1035), inset -1.26965px -1.26965px 1.79556px #F5F5F5, inset 1.26965px 1.26965px 1.79556px #FFFFFF;
    border-radius: 50%;
    background-color: #F5F5F5;
    background-image: url(../Assets/svg/backarrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.input-field{
    position: relative;
}
.input-field label{
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(235, 241, 241) ;
    padding: 0 5px;
    transition: 0.2s ease-in-out;
    color: #555;
    pointer-events: none;
}
.textarea-field label{
    top: 25px;
}

.input-field input,
 .input-field textarea,
 .input-field select{
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    background-color: rgb(235, 241, 241);
    border-radius: 10px;
}

.input-field textarea{
    height:120px;
    resize: none;
}

.input-field input:focus ~ label,
.input-field textarea:focus ~ label,
.input-field .filled-label{
    top : 0;
    left: 30px;
    background-color: rgb(255, 255, 255);
}


.input-field-icon,.input-field-info-icon{
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 10px;
}

.input-field-info-icon{
   background-image: url(../Assets/svg/info.svg);
   left:unset;
   right: 10px;
   cursor: pointer;
}
.error-text{
    text-align: right;
    color: rgb(168, 19, 19);
}
.input-field-container{
    padding: 15px ;
}

.textarea-field .input-field-icon,.textarea-field .input-field-info-icon{
    top: 25px;
}
.button-container{
    text-align: right;
}
.button-container button{
    background-color: #20716A;
    border: none;
    color: white;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
}
.form-section::-webkit-scrollbar{
    display: none;
}